/* Reset стилей */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'HeliosExtThin-Italic';
    src: url('../up/fonts/HeliosExtThin-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Основные стили */
body {
    font-family: "HeliosExtThin-Italic", sans-serif;
}

header {
    background-color: #2E3B4E;
    color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 300px; /* Размер логотипа по вашему выбору */
    margin-left: 30px;
}

.contact-info-h {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.korz {
    margin-left: 10px;
    border-radius: 25px;
    font-size: 15px;
    background-color: #4f6a80;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

.auth {
    margin-left: 10px;
    background-color: #4f6a80;
    border-radius: 25px;
    font-size: 15px;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

.otziv {
    font-family: "HeliosExtThin-Italic", sans-serif;
    margin-left: 10px;
    background-color: #4f6a80;
    border-radius: 25px;
    font-size: 15px;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

.dobOtziva {
    font-family: "HeliosExtThin-Italic", sans-serif;
    font-weight: 700;
    width: 500px;
    height: 100px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    display: block;
    width: 130px;
    font-size: 22px;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
}

nav a:hover {
    color: #ff0000;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #4D5F72;
    border-radius: 0 0 4px 4px;
    z-index: 1;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    width: 260px;
    float: none;
    display: list-item;
    position: relative;
    text-align: left;
}


.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #193a6660;
    color: #ffffff;
    border-radius: 30px;
}

.banner-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.banner-text a:hover {
    background-color: #45a049;
}

.product-window {
    background-color: #eff5fc;
    margin-left: 500px;
    margin-right: 500px;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40%;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 17px;
    font-weight: 600;
}

.product-details img {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.product-description {
    flex: 1;
}

.product-reviews {
    margin-top: 20px;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #2E3B4E;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    
}

.contact-info-footer {
    text-align: left;
    float: left;
    width: 30%; /* Задайте ширину, которая вам подходит */
    margin-left: 250px;
}

.navigation {
    text-align: right;
    float: right;
    width: 40%; /* Задайте ширину, которая вам подходит */
    
}

.footer-links {
    text-align: center;
    clear: both;
    padding: 30px;
}

/* Дополнительные стили для разделения навигации на два столбика */
.navigation-column {
    width: 50%;
    float: left;
   
}

.navigation a {
    display: block;
    margin-bottom: 5px;
    margin-right: 300px;
}

.footer-logo img {   
    width: 200px; /* Размер логотипа по вашему выбору */
    margin-right: 55px;
}

a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Используем цвет, унаследованный от родительского элемента */
    width: 100px;
}

a:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
}
